---
import ListCategories from "@components/ListCategories.astro";
import ListPosts from "@components/ListPosts.astro";
import PageChangeButtons from "@components/PageChangeButtons.astro";
import TitlePage from "@components/TitlePage.astro";
import { siteConfig } from "@data/site.config";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getPosts, unsluglify } from "@utils";

const { category, page } = Astro.params;
const pageNumber = parseInt(page as string) ?? 1;

const unsluglifyNameCategory = category
  ? unsluglify(category.toLowerCase())
  : "";

const allPosts = await getPosts();
const filteredPosts = allPosts.filter(
  (post) => post.data.category.toLowerCase() === unsluglifyNameCategory,
);

const maxPageNumber = Math.ceil(
  filteredPosts.length / siteConfig.paginationSize,
);

const pagedPosts = filteredPosts.slice(
  (pageNumber - 1) * siteConfig.paginationSize,
  pageNumber * siteConfig.paginationSize,
);

const posts = pagedPosts;
---

<BaseLayout title={category}>
  <TitlePage title={unsluglifyNameCategory} />
  <ListCategories activeCategory={category} />
  <div class="flex-grow">
    <PageChangeButtons
      maxPageNumber={maxPageNumber}
      pagedRouteComposer={(page: number) => `/category/${category}/${page}`}
      pageGroupName="category"
      pageNumber={pageNumber}
    />

    <ListPosts posts={posts} />
  </div>
</BaseLayout>
