---
import ListCategories from "@/components/ListCategories";
import ListPosts from "@/components/ListPosts";
import Pagination from "@/components/Pagination";
import TitlePage from "@/components/TitlePage";
import { siteConfig } from "@/data/site.config";
import BaseLayout from "@/layouts/BaseLayout";
import { ContentRetriever, sluglify, unsluglify } from "@/utils";

// eslint-disable-next-line
export async function getStaticPaths({ paginate }: any) {
  const categories = await ContentRetriever.getCategories();
  const allPosts = await ContentRetriever.getPosts();

  return categories.items.flatMap((category) => {
    // eslint-disable-next-line
    const unsluglifyNameCategory = unsluglify(category.fields.title!.toLowerCase());
    const filteredPosts = allPosts.items.filter((post) => {
      const category = post.fields.category;
      return category && "fields" in category && category.fields.title.toLowerCase() === unsluglifyNameCategory;
    });

    return paginate(filteredPosts, {
      pageSize: siteConfig.paginationSize,
      params: {
        category: sluglify(category.fields.title.toLowerCase()),
      },
    });
  });
}
const params = Astro.params;
const { page } = Astro.props;
// eslint-disable-next-line
const unsluglifyNameCategory = unsluglify(params.category!.toLowerCase());
const posts = page.data;
---

<BaseLayout title={params.category}>
  <TitlePage title={unsluglifyNameCategory} />
  <ListCategories activeCategory={params.category} />
  <div class="flex-grow">
    <ListPosts posts={posts} />
  </div>
  <Pagination page={page} />
</BaseLayout>
