---
import type { CollectionEntry } from "astro:content";

import { cn } from "@/utils";
import { Image } from "astro:assets";

type Props = {
  posts: CollectionEntry<"blog">[];
};

const { posts } = Astro.props;
---

<section class={cn(`flex flex-col md:flex-row sm:justify-between gap-8`)}>
  {
    posts.length > 0 ? (
      posts.map((post) => {
        return (
          <div class={cn("flex flex-row gap-1 w-[14rem]")}>
            <div class={cn("min-h-full")}>
              <Image
                alt={`img of ${post.data.title}`}
                class={cn("w-16 h-16 object-cover rounded-full")}
                format="webp"
                height={100}
                src={post.data.peekImage}
                width={100}
              />
            </div>
            <header
              class={cn(
                "flex flex-col justify-center items-start gap-0 min-w-[50%]",
              )}
            >
              <div>
                <a
                  class="font-medium hover:underline"
                  href={`/post/${post.slug}/`}
                >
                  {post.data.title}
                </a>
              </div>

              <div class="flex flex-wrap">
                {post.data.tags.map((tag) => (
                  <span class="text-xxs text-gray-600 hover:underline">
                    <a href={`/tags/${encodeURIComponent(tag)}`}>#{tag}</a>
                    &nbsp;
                  </span>
                ))}
              </div>
            </header>
          </div>
        );
      })
    ) : (
      <span class="text-gray-500">There are no related posts yet. 😢</span>
    )
  }
</section>
